<header>
  <nav class="navbar">
    <div class="menu-and-search-container">
        <span class="menu-icon" (click)="dropDownMenu()"><i class="fa fa-bars"></i></span>
        <div id="menuContent" class="menu-content">
          <p>FOR HIM</p>
          <p>FOR HER</p>
          <p>STRAPS <span><i style="color: #2E476C;" class="fa fa-angledown"></i></span></p>
          <p>LA MAISON</p>
          <p>LOOK BOOK</p>
          <p>STORIES</p>
          <p>CONTACT US</p>
          <div class="social-icons">
            <ul style="color: #2E476C;">
              <li class="icons"><span><i class="fa fa-facebook"></i></span></li>
              <li class="icons"><span><i class="fa fa-twitter"></i></span></li>
              <li class="icons"><span><i class="fa fa-youtube"></i></span></li>
              <li class="icons"><span><i class="fa fa-instagram"></i></span></li>
            </ul>
          </div>
        </div>
        <span class="search-icon"><i class="fa fa-search"></i></span>
    </div>
    <div class="brand-container">
      <p>CHARLIE</p>
      <p>PARIS</p>
    </div>
    <div class="shopping-container">
        <span class="shopping-bag"><i class="fa fa-shopping-bag"></i> 0</span>
    </div>
  </nav>
</header>

<!-- <header> -->
  <!-- <nav class="nav-bar"> -->
    <!--====== language, stories, help elements ========-->
    <!-- <div class="pages">
      <ul>
        <li class="dropdown-language">
          <span>{{language[0]}} <fa-icon style="color: white;" [icon]="faAngleDown"></fa-icon></span>
          <span class="language-content">{{language[1]}}</span>
        </li>
        <li><span><a href="#">{{stories}}</a></span></li>
        <li class="dropdown-help">
          <span>{{help[0]}} <fa-icon style="color: white;" [icon]="faAngleDown"></fa-icon></span>
          <div class="help-content">
            <li><span>{{help[1]}}</span></li>
            <li><span>{{help[2]}}</span></li>
            <li><span>{{help[3]}}</span></li>
            <li><span>{{help[4]}}</span></li>
          </div>
        </li>
      </ul>
    </div>
    <p class="offer">{{offers}}</p> -->
    <!--====== search elements ========-->
    <!-- <div class="search-icon">
      <fa-icon style="color: white;" [icon]="faSearch"></fa-icon>
      <span><input type="search" name="search" id="searchicon" placeholder="SEARCH"></span>
    </div> -->
    <!--====== social icon elements ========-->
    <!-- <div class="social-icons">
      <ul style="color: white;">
        <li class="icons"><span><i class="fa fa-facebook"></i></span></li>
        <li class="icons"><span><i class="fa fa-twitter"></i></span></li>
        <li class="icons"><span><i class="fa fa-youtube"></i></span></li>
        <li class="icons"><span><i class="fa fa-instagram"></i></span></li>
      </ul>
    </div> -->
  <!-- </nav> -->
<!-- </header> -->