<div class="collection-container">
  <div class="collection-names">
    <ul>
      <li>{{collection[0]}}</li>
      <li>{{collection[1]}}</li>
      <li>{{collection[2]}}</li>
    </ul>
  </div>
  <div class="collection-images">
    <ul>
      <ngb-carousel>
          <ng-template ngbSlide>
            <img class="image" src={{images[0]}} alt="Random watch 1">
          </ng-template>
          <ng-template ngbSlide>
            <img class="image" src={{images[1]}} alt="Random watch 2">
          </ng-template>
          <ng-template ngbSlide>
            <img class="image" src={{images[2]}} alt="Random watch 3">
          </ng-template>
        </ngb-carousel>
    </ul>
  </div>
</div>
