<div class="collection-container">
  <div class="collection-names">
    <ul>
      <li>{{collection[0]}}</li>
      <li>{{collection[1]}}</li>
      <li>{{collection[2]}}</li>
    </ul>
  </div>
  <div class="collection-images">
    <ul>
      <ngb-carousel>
          <ng-template ngbSlide>
            <img class="image" src={{images[0]}} alt="Random watch 1">
            <h6>BASTILLE B4.6</h6>
            <p>Small second - White dial</p>
            <p>215.00</p>
          </ng-template>
          <ng-template ngbSlide>
            <img class="image" src={{images[1]}} alt="Random watch 2">
            <h6>BASTILLE B4.6</h6>
            <p>Blue dial - Stainless steel strap</p>
            <p>215.00</p>
          </ng-template>
          <ng-template ngbSlide>
            <img class="image" src={{images[2]}} alt="Random watch 3">
            <h6>HORIZON</h6>
            <p>Clear dial - Leather strap</p>
            <p>245.00</p>
          </ng-template>
          <ng-template ngbSlide>
            <img class="image" src={{images[3]}} alt="Random watch 1">
            <h6>GR - KHAKI GREEN</h6>
            <p>Khaki green dial - Stainless steel strap</p>
            <p>245.00</p>
          </ng-template>
          <ng-template ngbSlide>
            <img class="image" src={{images[4]}} alt="Random watch 2">
            <h6>BASTILLE B4.6</h6>
            <p>Small second - Black dial</p>
            <p>215.00</p>
          </ng-template>
          <ng-template ngbSlide>
            <img class="image" src={{images[5]}} alt="Random watch 3">
            <p>Brass Art</p>
            <ng-template ngbSlide>
              <img class="image" src={{images[6]}} alt="Random watch 2">
              <p>Analogue business</p>
            </ng-template>
            <ng-template ngbSlide>
              <img class="image" src={{images[7]}} alt="Random watch 3">
              <p>Brass Art</p>
            </ng-template>
          </ng-template>
        </ngb-carousel>
    </ul>
  </div>
</div>
