$grayishBlue: #2E476C;
.discovery-container{
    font-family: 'Headland One', serif;
    color: lighten( $grayishBlue, 15%);
    width: 100%;
    height: 550px;
    padding: 18px;
    text-align: center;
    .image{
        width: 100%;
        height: 250px;
    }
    p{
        margin: -30px -20px;
        padding: 63px 18px;
        background-color: aliceblue;
        
    }
    span{
        a{
            text-decoration: underline;
        }
        
    }
}
